body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande';
}
h1 {
  color: green;
}
p {
  color: blue;
  border: 2px solid black;
}
div.align{
    text-align: center;
}
.main-container {
    padding: 100px;
    /* Color the background light blue. */
    background : lightblue;
    width: 75%;
    margin: auto;
}
#mainheader{
    position: relative;
    left: 20px;
    top:5px;
    color: black;
    opacity: .95;
    font-size: 40px;
}
