* {
    box-sizing: border-box;
}
.sincere {
  text-align: center;
}
.signature {
  text-align: center;
  font-family: Roboto, sans-serif;
  font-style: italic;
}
.contact-us-header {
  position: relative;
  top: 25px;
  left: -50px;
  font-style: bold;
  font-size: 38px;
}
.profile-photo {
  position: relative;
  bottom: -20px;
  left: 500px;
}
.table {
  text-align: center;
  position: relative;
  bottom: 5px;
  left: 360px;
}
.social-tag {
  position: relative;
  bottom: 10px;
  left: 475px;
}
.about-me-para {
  padding: 5px;
  background-color: lightyellow;
  margin: auto;
  text-align: left;
}
.main-image {
  position: relative;
  top: -50px;
  left: 400px;
}
.short-bio {
  margin: auto;
  text-align: center;
  position: relative;
  top: -60px;
  left: 20px;

}
.headline {
  font-family: Roboto, sans-serif;
  text-transform: capitalize;
  font-size: 25px;
  padding: 10px;
  width: 500px;
  height: 100px;
  text-align: center;
  margin: auto;
  background-color: lightgrey;
  border: 2px solid white;
}

.text-area-comments{
    padding-bottom: 300px;
}
body{
    background-color: bisque;
}
div{
    text-align: left;
    line-height: 1.45em;
    font-family: Roboto, sans-serif;
    margin-bottom: 10px;
    padding: 5px;
}
h1, h3, h4, h5{
    text-align: center;
    font-family: SourceSerifPro, serif;

}
.opening-paragraph{
    color: black;
    font-size: 16px;
    text-indent: 10px;
    font-weight:700;
}

.opening-paragraph::first-line{
    font-size: 16px;
}
.second-paragraph{
    font-size: 16px;
}

table{
    border: 1px dashed black;
    font-family: Roboto, sans-serif;
    font-weight: 700;
    padding: 10px;
}


p{
    font-family:  Roboto, sans-serif;
}

/* Set your header design: */
header {
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: dimgrey;
    font-family: SourceSerifPro;
    text-transform: uppercase;
    margin-top: 0;
    height: 4em;
    width: 100%;
    text-align: left;
}

/* Set the layout of the menu: */
.menu-item {
    display: inline-block;
    margin: 1em .2em;
    min-width: 6em;
    text-align: center;
    background-color: powderblue;
    padding: 0.5em 1em;
}

/* Style the links: */
.menu-item a {
    color: #fff;
    text-decoration: none;
}

.menu-item:hover {
    background-color: gray;

}

/* Add a dropdown feature: */
.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    border: 1px solid #000;
    margin: 0.5em 0 0 -1em;
    color: #000;
    background-color: #fff;
    z-index: 1;
}
.dropdown-content a {
    color: #000;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Style dropdown item display: */
.dropdown-item {
    display: block;
    text-align: left;
    margin: 0;
    padding: 0.5em 1em 0.5em 1em;
    min-width: 5.9em;
}

.dropdown-item:hover, .dropdown-item:hover a {
    color: black;
    background-color: #a2a2a2;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
    padding: 15px;
  }

.row::after {
    content: "";
    clear: both;
    display: table;
  }

.contact-us{
    width:50%;
    margin-left: 25%;

}
